* {
  margin: 0px;
}
body {
  background-color: darkviolet;
}
.container {
  width: 100vw;
  height: 65vh;
  background-color: darkviolet;
  display: flex;
  flex-direction: row;
justify-content: space-evenly;
align-items: flex-start;
padding-top: 50px;
align-content: space-around;
}
.circle1 {
background-color: lightpink;
width: 550px;
height: 550px;
border-radius: 100%;
animation-name: fade;
animation-duration: 7s;
filter:blur(30px);
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
.circle2 {
background-color: purple;
width: 300px;
height: 300px;
border-radius: 100%;
animation-name: fade;
animation-duration: 6s;
filter:blur(30px);
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
.circle3 {
background-color: darkmagenta;
width: 500px;
height: 500px;
border-radius: 100%;
animation-name: fade;
animation-duration: 5s;
filter:blur(15px);
animation-name:shrink;
animation-duration: 15s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
.square1 {
  background-color: rebeccapurple;
  width: 500px;
  height: 500px;
  border-radius: 10%;
  position: relative;
  top: 50px;
  left: 100px;
  filter:blur(50px);
  animation-name:shrink;
animation-duration: 15s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;

}
.square2 {
  background-color: lightpink;
  width: 200px;
  height: 350px;
  border-radius: 10%;
  filter:blur(15px);
  position: relative;
  top: 150px;
  left: 200px;
}
.square3 {
  background-color: lightyellow;
  width: 100px;
  height: 500px;
  border-radius: 10%;
  filter:blur(20px);
  position: relative;
  top: 20px;
  left: 300px;
}
 @keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
opacity: 1;
  } 
}

@keyframes shrink {
  0% {
    height: 300px;
    width: 300px;
  }
  50% {
    height: 275px;
    width: 275px;
  }
  100% {
    height: 250px;
    width: 250px;
  }}
